<header>
  <div id="headerElements">
    <a id="primer" href="#">About</a>
    <a href="#historySectionTittle">Education</a>
    <a href="#projectsSectionTittle">Projects</a>
    <a href="#logos">Contact</a>
  </div>
  <div class="separator"></div>
</header>

<main>
  <div class="section">
    <h1>Software Developer 💻</h1>
    <p class="txtName">Online Portfolio by Sebastian Guerrero</p>
    <div class="descriptionAbout">
      <p><i>I'm a junior software developer from Bogotá, Colombia. Currently focused on learning Angular and in general
          JavaScript. About to finish a software development technology at Politécnico Internacional.</i></p>
    </div>
  </div>

  <hr>
  

  <h1 id="historySectionTittle">History Education 📓</h1>
  <div class="historySection">
    <div class="education">
      <h2>&#8226; Software Development Tecnology</h2>
      <h3>Politécnico Internacional 2020 - 2023</h3>
      <p></p>
    </div>
    <div class="education">
      <h2>&#8226; Data Analytics and Big Data Diplomat</h2>
      <h3>Politécnico Internacional May - 2023</h3>
      <p></p>
    </div>
    <div class="education">
      <h2>&#8226; JavaScript Algorithms and Data Structures course</h2>
      <h3>FreeCodeCamp Aug - 2022</h3>
      <p></p>
    </div>
    <div class="education">
      <h2>&#8226; Responsive Web Desing course</h2>
      <h3>FreeCodeCamp Jul - 2022</h3>
      <p></p>
    </div>
  </div>

  <hr>

  <section id="projects">
    <h1 id="projectsSectionTittle">My projects 💼</h1>
    <div class="projectGroup">
      <div *ngFor="let project of projects" class="project">
        <img src="{{project.img}}" alt="{{project.alt}}">
        <h3 class="projectName">{{project.name}}</h3>
        <p class="description">{{project.description}}</p>
        <a href="{{project.link}}" target="_blank" class="linkProject">View project</a>
      </div>
    </div>
  </section>


</main>

<footer>
    <div class="info">
      <b>Contact: </b>
      <p>Johan Sebastian Guerrero</p>
      <p>Bogotá, Colombia</p>
      <p>Sebastianguerrero.m@outlook.com</p>
    </div>


    <div id="logos">
      <img src="../assets/linkedin.svg" alt="LinkedIn Logo">
      <a href="https://www.linkedin.com/in/sebastian-guerrero-678a92229/">LinkedIn</a>
      <img src="../assets/github.svg" alt="Github Logo">
      <a href="https://github.com/SebastianG302">GitHub</a>
    </div>

    <div>
      <b>Made with <span class="angular">Angular</span>, <span class="af">Font Awesome</span> and ♥</b>
    </div>
    

</footer>
