<header>
  <div id="headerElements">
    <a id="primer" href="#">About</a>
    <a href="#">Education</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </div>
  <div class="separator"></div>
</header>

<main>
  <div class="section">
    <h1>Software Developer 💻</h1>
    <p class="txtName">Online Portfolio by Sebastian Guerrero</p>
    <div class="descriptionAbout">
      <p><i>I'm a junior software developer from Bogotá, Colombia. Currently focused on learning Angular and in general
          JavaScript. About to finish a software development technology at Politécnico Internacional.</i></p>
    </div>
  </div>

  <hr>
  

  <h1 id="historySectionTittle">History Education 📓</h1>
  <div class="historySection">
    <div class="education">
      <h2>Software Development Tecnology</h2>
      <h3>Politécnico Internacional 2020 - 2023</h3>
      <p>Most importantly, make sure that what you're sharing on social media is supported by accurate data and
        research.
        Delivering newsletters through email is one of the best ways to build a strong relationship with your members
        and
        customers.</p>
    </div>
    <div class="education">
      <h2>Data Analytics and Big Data Diplomat</h2>
      <h3>Politécnico Internacional May - 2023</h3>
      <p>Most importantly, make sure that what you're sharing on social media is supported by accurate data and
        research.
        Delivering newsletters through email is one of the best ways to build a strong relationship with your members
        and
        customers.</p>
    </div>
    <div class="education">
      <h2>JavaScript Algorithms and Data Structures</h2>
      <h3>FreeCodeCamp Aug - 2023</h3>
      <p>Most importantly, make sure that what you're sharing on social media is supported by accurate data and
        research.
        Delivering newsletters through email is one of the best ways to build a strong relationship with your members
        and
        customers.</p>
    </div>
    <div class="education">
      <h2>Responsive Web Desing</h2>
      <h3>FreeCodeCamp Jul - 2023</h3>
      <p>Most importantly, make sure that what you're sharing on social media is supported by accurate data and
        research.
        Delivering newsletters through email is one of the best ways to build a strong relationship with your members
        and
        customers.</p>
    </div>
  </div>
</main>

<footer></footer>